@model IEnumerable<EL.tbl_Paylasim>
@using System.Globalization


<div class="card card-outline card-warning" style="padding-top: 5px;">
    <div class="card-header" style="padding: 1px 15px 1px 0px; margin-top:-5px; background-color: #e6e6e9 ">

        <div class="card-title" style="margin:10px;">
            <i class="fab fa-staylinked">
                &nbsp;  Fatura Paylaşımlar Listesi
            </i>
        </div>
        <div class="card-tools">
            <a id="btn_YeniKayit" onclick="Show_Modal(0)" href="#" style="margin:5px" class="btn btn-outline-dark" data-toggle="modal" data-target="#_modal"> <span class="fas fa-plus">    &nbsp; Kayıt Ekle </span></a>
        </div>
    </div>


    <!-- /.card-header -->
    <div class="card-body  card-outline  card-blue">
        <table id="paylasimListesi" class="table table-bordered table-striped  table-responsive-sm table-hover table-data" data-col_order="2" data-order_type="asc" data-show_Length="0" style="width:100%">
            <thead style="background-color: #CFD8DC">
                <tr>
                    <th>
                        @Html.DisplayName("Bina Kod")
                    </th>
                    <th>
                        @Html.DisplayName("Bina Adı")
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DonemAdi)
                    </th>
                    <th>
                        @Html.DisplayName("Hacim")
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FaturaTutar)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SuSicakligi)
                    </th>
                    <th title="Düşük Kullanımda Ceza Uygulanacak mı ?">
                        @Html.DisplayName("DüşükCeza")
                    </th>
                    <th title="Ceza Dağıtım Türü">
                        @Html.DisplayName("CezaTür")
                    </th>
                    <th>
                        @Html.DisplayName("SonOdemeT")
                    </th>
                    <th>
                        @Html.DisplayName("HesaplamaT")
                    </th>

                    <th> İşlemler </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="tr_@item.ID">

                        <td>
                            @Html.DisplayFor(modelItem => item.tbl_Bina.BinaKodu)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.tbl_Bina.Ad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DonemAdi)
                        </td>

                        <td>
                            @(item.SayactanOkunanHacim.HasValue ? item.SayactanOkunanHacim.Value.ToString("N2") + "\u00A0m³" : "0 m³")
                        </td>

                        <td>
                            @(item.FaturaTutar.ToString("#,##0.00 '₺'", new CultureInfo("tr-TR")))
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.SuSicakligi)
                        </td>
                        <td>
                            @if (item.DusukKullanimCeza == true)
                            {
                                <span>Evet</span>
                            }
                            else
                            {
                                <span>Hayır</span>
                            }
                        </td>

                        <td>
                            @if (item.DusukKullanimCeza == true)
                            {
                                <span>@item.CezaDagitimTur</span>
                            }
                            else
                            {
                                <span>---</span>
                            }
                        </td>

                        <td>
                            @(item.FaturaSonOdemeTarihi.HasValue ? item.FaturaSonOdemeTarihi.Value.ToString("d", new CultureInfo("tr-TR")) : "")
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.HesaplamaTarihi)
                        </td>

                        <td>
                            <div style="text-align: center;">

                                <a class='btn btn-outline-info btn-xs' title="Detay" href="/Paylasim/Detay?PaylasimId=@item.ID">
                                    <i class="far fa-list-alt"></i>
                                </a>

                                <a class='btn btn-outline-danger btn-xs' title="Kaydı Sil !" data-id="@item.ID" onclick="Delete(@item.ID)">
                                    <i class='fas fa-trash-alt'></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
    <!-- /.card-body -->


</div>



@Html.Partial("_modalPage")


<style>
    .modal:nth-of-type(even) {
        z-index: 1051 !important;
    }

    /* .modal-backdrop.show:nth-of-type(even) {
        z-index: 1050 !important;
    }*/

</style>

<div class="modal fade" id="_modalHarita" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-gradient-info">
                <h4 class="modal-title" id="_modalHaritaTitle">Harita Modal</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="_modalHaritaBody">
            </div>

            <div style="text-align: center; display: none" id="loaderDiv">
                Kaydediliyor...
                <br />
                <img src="~/Content/img/loader.gif" width="200" />
            </div>

            <div class="modal-footer justify-content-between" style="background-color: whitesmoke;">
                <button type="button" id="btn_close" class="btn btn-outline-dark" data-dismiss="modal">Kapat</button>
                <button type="button" id="btn_KaydetHarita" class="btn btn-outline-dark">Kaydet</button>
            </div>
        </div>
    </div>
</div>



@section scripts{

    <script>
        _control = "Paylasim";
    </script>


}

